@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@font-face {
    font-family: igor;
    src: url("IGOR-BoldItalic.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background : url("igor.png");
}

.main{
    width: 900px;
    height: 175px;
    margin: 100px auto;
    position: relative;
    padding: 30px;
    border-radius: 25px;
}

.badge{
    font-family: igor;
    font-size: 72px;
    width: 151;
    padding: 5px 10px;
    position: absolute;
    top: -15px;
    left: 40px;
}

.clock{
    font-family: Orbitron
}